#menu1 {
	margin-top: 80px;
}

.dragTile {
	border: 1px solid black;
	background-color: green;
	display: inline;
	position: absolute;
}

.tileSize {
	width: 15px;
	height: 15px;
	padding: 1px;
	float: left;
}

#sorter {
	position: inherit;
}

.dragme p {
	color: black;
}

.dropArea {
	border: 1px solid black;
	display: inline;
}

#dropdiv div.hovered {
	background-color: gray;
}

#dropdiv {
	width: 170px;
}

#dragdiv {
	margin-top: 50px;
}

#buttondiv {
	margin-top: 50px;
	width: 180px;
}

.dragged {
	background-color: red;
}